@import url("https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap");
html {
  font-size: 12px;
}
body {
  overflow: hidden;
  background-size: cover;
  background: #e8f3fa;
  color: #728C98;
  font-family: "Roboto", sans serif;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin:0%;
}

#showPlayer{
  display: none;
  margin-top: 5%;
}

.loader{
  margin-top: 12%;
  justify-content: center;
  align-items: center;
  position: relative;
  display: none;
}

.loader span{
width: 50px;
height:300px;
margin: 0 20px;
background: #75b5d36a;
animation: animate 2s ease-in-out infinite alternate;
}
.loader span:nth-child(1){
animation-delay: 0s;
transform: translate(150px);
}
.loader span:nth-child(2){
animation-delay: 0.2s;
}
.loader span:nth-child(3){
animation-delay: 0.4s;
}
.loader span:nth-child(4){
animation-delay: 0.6s;
}
.loader span:nth-child(5){
animation-delay: 0.8s;
}
.loader span:nth-child(6){
animation-delay: 1.0s;
}
.loader span:nth-child(7){
animation-delay: 1.2s;
}
.loader span:nth-child(8){
animation-delay: 1.3s;
}
@keyframes animate{
    0%{
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
        transform: translate(-40px) scale(1);
    }
    50%{
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
        transform: translate(50px) scale(1.2);
    }
    100%{
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
        transform: translate(40px) scale(1);
    }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.device {
  background: #F7FBFD;
  border-radius: 2.4rem;
  box-shadow: 2rem 2rem 8rem rgba(78, 134, 165, 0.09), 1rem 1rem 4rem rgba(78, 134, 165, 0.09), inset 4rem 4rem 10rem rgba(78, 134, 165, 0.05);
  display: flex;
  flex-direction: column;
  height: 42rem;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate3D(-50%, -40%, 0);
  width: 25.2rem;
}

.device__top {
  background: rgba(255, 255, 255, 0.6);
  height: 24.2rem;
  overflow: hidden;
  position: relative;
}

.album-art {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  position: absolute;
  transform: translateY(100%);
}

.album-art.active {
  transform: translateY(0);
}

.device__mid {
  flex: 1;
}

.info {
  display: flex;
  font-size: 0.9rem;
  padding: 1.5rem 2rem;
}

.info__right {
  flex: 1;
  text-align: right;
}

.info__song {
  font-weight: 700;
  height: 1.6rem;
  margin: 0;
  overflow: hidden;
  padding: 0 0 0.4rem;
  position: relative;
}

.song {
  display: block;
}

.song.active {
  transform: translateY(0);
}

.info__artist {
  font-size: 1rem;
  font-weight: 300;
  height: 1.2rem;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 12rem;
}

.artist {
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  transform: translateY(150%);
}

.artist.active {
  transform: translateY(0);
}

.info__type {
  color: #AEBEC6;
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0.4rem 0 0.3rem;
  padding: 0 0 0.3rem;
  text-transform: uppercase;
}

.info__type-name {
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.controls {
  align-items: center;
  display: flex;
  justify-content: center;
}

.progress {
  height: 0.5rem;
  margin: 1rem 0 3.6rem;
  position: relative;
}

#play-button .pause {
  display: none;
}
#play-button .play {
  display: block;
}
#play-button.pause .pause {
  display: block;
}
#play-button.pause .play {
  display: none;
}

.controls__round-button {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10rem;
  box-shadow: 1rem 1rem 4rem rgba(78, 134, 165, 0.09), 0.5rem 0.5rem 2rem rgba(78, 134, 165, 0.09), -0.5rem -1.5rem 2rem white, inset 1rem 1rem 2.3rem rgba(78, 134, 165, 0.05), 0px 0px 0.1rem #FFFFFF, inset 0.1rem 0.1rem 0 #FFFFFF;
  height: 5rem;
  margin: 0 1rem 3rem;
  position: relative;
  transition: box-shadow 0.05s ease-in;
  width: 5rem;
}
.controls__round-button svg {
  height: 1.6rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 1.6rem;
}
.controls__round-button svg path {
  fill: #728C98;
  transition: fill 0.05s ease-in;
}

.controls__round-button:active {
  box-shadow: 1rem 1rem 4rem rgba(78, 134, 165, 0), 0 0.1rem 0.1rem rgba(78, 134, 165, 0.25), -0.5rem -1.5rem 2rem rgba(255, 255, 255, 0), inset 1rem 1rem 2.3rem rgba(78, 134, 165, 0.05), 0 0.1rem 0.1rem white, inset 0.1rem -0.1rem 0 rgba(255, 255, 255, 0);
}
.controls__round-button:active * {
  fill: #49C6FF;
  filter: drop-shadow(0 0 0.1rem rgba(124, 214, 255, 0.5));
}

.controls__round-button--large {
  height: 7.5rem;
  text-align: center;
  width: 7.5rem;
  pointer-events: auto;
}
.controls__round-button--large svg {
  height: 2.6rem;
  width: 2.6rem;
}

.controls__play {
  margin-left: 0.4rem;
}

button {
  border: none;
  color: #728C98;
  cursor: pointer;
  display: inline-block;
  font-family: "roboto", sans-serif;
  font-size: 1rem;
  line-height: 1;
  margin: 0;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #fff;
}

button:focus {
  outline: none;
}

input[type=range] {
  background: transparent;
  height: 2.5rem;
  -webkit-appearance: none;
  margin: 0.1rem 3rem;
  width: calc(100% - 6rem);
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
  /* animate: 0.2s; */
  border: 0;
  background: rgba(78, 134, 165, 0.03);
  border-radius: 1rem;
  bottom: 0;
  box-shadow: 0.3rem 0.3rem 1rem #FFFFFF, -0.3rem -0.2rem 0.8rem rgba(78, 134, 165, 0.03), inset 1rem 1rem 2.3rem rgba(78, 134, 165, 0.05), inset 0.1rem 0.1rem 0 rgba(78, 134, 165, 0.05);
}

input[type=range]::-webkit-slider-thumb {
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
  background: #F7FBFD;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 1.2rem rgba(78, 134, 165, 0.12), 0.1rem 0.1rem 0.5rem rgba(78, 134, 165, 0.12), 0 0 0.1rem #fff, inset 0.2rem 0.2rem 0.5rem rgba(78, 134, 165, 0.05), inset 0.2rem 0.2rem 0 #fff;
  height: 1.4rem;
  padding: 0;
  width: 1.4rem;
}

input[type=range]::-webkit-slider-thumb:hover {
  background: #fff;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(73, 198, 255, 0.5);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
  /* animate: 0.2s; */
  border: 0;
  background: rgba(78, 134, 165, 0.03);
  border-radius: 1rem;
  bottom: 0;
  box-shadow: 0.3rem 0.3rem 1rem #FFFFFF, -0.3rem -0.2rem 0.8rem rgba(78, 134, 165, 0.03), inset 1rem 1rem 2.3rem rgba(78, 134, 165, 0.05), inset 0.1rem 0.1rem 0 rgba(78, 134, 165, 0.05);
}

input[type=range]::-moz-range-thumb {
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
  background: #F7FBFD;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 1.2rem rgba(78, 134, 165, 0.12), 0.1rem 0.1rem 0.5rem rgba(78, 134, 165, 0.12), 0 0 0.1rem #fff, inset 0.2rem 0.2rem 0.5rem rgba(78, 134, 165, 0.05), inset 0.2rem 0.2rem 0 #fff;
  height: 1.4rem;
  padding: 0;
  width: 1.4rem;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
  /* animate: 0.2s; */
  border: 0;
  background: rgba(78, 134, 165, 0.03);
  border-radius: 1rem;
  bottom: 0;
  box-shadow: 0.3rem 0.3rem 1rem #FFFFFF, -0.3rem -0.2rem 0.8rem rgba(78, 134, 165, 0.03), inset 1rem 1rem 2.3rem rgba(78, 134, 165, 0.05), inset 0.1rem 0.1rem 0 rgba(78, 134, 165, 0.05);
}

input[type=range]::-ms-thumb {
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
  background: #F7FBFD;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 1.2rem rgba(78, 134, 165, 0.12), 0.1rem 0.1rem 0.5rem rgba(78, 134, 165, 0.12), 0 0 0.1rem #fff, inset 0.2rem 0.2rem 0.5rem rgba(78, 134, 165, 0.05), inset 0.2rem 0.2rem 0 #fff;
  height: 1.4rem;
  padding: 0;
  width: 1.4rem;
}

#top-right{
  position:absolute;
  top: 18%;
  left: 80%;
}

#top-left{
  position: relative;
  justify-content: left; left: 1em; top: 20%;
}

#ms-container {
	width: 100%;
	height: 100vh;
	background: #728c9863;
}

.ms-content {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10rem;
  box-shadow: 1rem 1rem 4rem rgba(78, 134, 165, 0.09), 0.5rem 0.5rem 2rem rgba(78, 134, 165, 0.09), -0.5rem -1.5rem 2rem white, inset 1rem 1rem 2.3rem rgba(78, 134, 165, 0.05), 0px 0px 0.1rem #FFFFFF, inset 0.1rem 0.1rem 0 #FFFFFF;
  height: 5rem;
  margin: 0 1rem 1rem;
  position: relative;
  transition: box-shadow 0.05s ease-in;
  width: 5rem;
  display: inline-block;
}

#ms-download:checked ~ .ms-line-down-container .ms-line-down:before {
	content: "";
	position: absolute;
  top: -0.3rem;
  right: -2.8rem;
	width: 5rem;
	height: 5rem;
	border: 1rem solid transparent;
	border-radius: 100%;
	animation: ms-border-fill 0.5s forwards 3s;
  justify-content: center;
  display: inline-block;
}

.ms-content-inside {
	width: 100%;
	height: 100%;
	position: relative;
}

.ms-line-down-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: rotate(0deg);
	transition: transform 0s ease;
}
#ms-download {
	display: none;
}
#ms-download:checked ~ .ms-line-down-container {
	transform: rotate(-360deg);
	transition: transform 1.5s ease 1.25s;
}

.ms-line-down {
	position: absolute;
	top: 0.6rem;
	right: 0;
	left: 0;
	bottom: 0.8rem;
	margin: auto;
	width: 0.4rem;
	height: 2rem;
	background: #728C98;
	border-radius: 0.3rem;
	transition: height 0.5s ease;
}

#ms-download:checked ~ .ms-line-down-container .ms-line-down {
	height: 0.3rem;
	bottom: 1rem;
	animation: ms-bounce 0.5s forwards 0.55s;
}

.ms-line-point {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 1rem;
	margin: auto;
	width: 0.5rem;
	height: 2rem;
	transition: height 0.15s ease 0.45s;
}

#ms-download:checked ~ .ms-line-point {
	height: 1rem;
}

#ms-download:checked ~ .ms-line-point:before {
	transform: rotate(90deg);
	right: -0.7rem;
	animation: ms-check-right 0.25s forwards 3s;
}

#ms-download:checked ~ .ms-line-point:after {
	transform: rotate(-90deg);
	left: -0.7rem;
	animation: ms-check-left 0.25s forwards 3s;
}

.ms-line-point:before,
.ms-line-point:after {
	content: "";
	position: absolute;
	width: 4px;
	height: 1.7rem;
	top: 1.3rem;
	background: #728C98;
	border-radius: 5px;
	transition: transform 0.15s ease 0.47s, left 0.15s ease 0.47s, right 0.15s ease 0.47s;
}

.ms-line-point:before {
	right: -0.4rem;
	transform: rotate(45deg);
}

.ms-line-point:after {
	left: -0.4rem;
	transform: rotate(-45deg);
}

@keyframes ms-bounce {
	0% {
		top: -2rem;
	}
	25% {
		top: -8rem;
	}
	50% {
		top: -9rem;
	}
	100% {
		top: -4rem;
  }
}

@keyframes ms-check-left {
	0% {
		transform: rotate(-90deg);
		left: -1.5rem;
		height: 1rem;
	}
	100% {
		transform: rotate(-45deg);
		right: 1rem;
		height: 1.5rem;
    top: 1rem;
	}
}

@keyframes ms-check-right {
	0% {
		transform: rotate(90deg);
		right: 0.3rem;
		height: 1.4rem;
		bottom: -0.8rem;
	}
	100% {
		transform: rotate(45deg);
		right: -0.6rem;
		height: 3rem;
		top: -0.3rem;
	}
}

@keyframes ms-border-fill {
	0% {
		border: 5px solid transparent;
	}
	100% {
		border: 6px solid #728C98;
	}
}
