<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>404</title>
</head>
<body>
    <div style="display:flex; flex-direction:column; margin: 10%;">
    <h1 style="font-size:8em">{{error}}</h1>
    <h2> {{describe}}</h2>
    <a href="{{url_for('editor')}}"><button type="button" class="w3-button" style="background-color: #d3d3cc">Back</button></a>
    </div>
</body>
</html>