{% extends "layout.html" %}
{% block title %}
Editor
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='editor.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row center">
        <p>
            <label for="instrument-picker">
                Select instrument:
                <select id="instrument-picker">
                    <option value="0">Acoustic Piano</option>
                    <option value="4">Electric Piano</option>
                    <option value="6">Harpsichord</option>
                    <option value="7">Clavi</option>
                    <option value="8">Celesta</option>
                    <option value="23">Tango Accordion</option>
                    <option value="24">Acoustic Guitar (nylon)</option>
                    <option value="25">Acoustic Guitar (steel)</option>
                    <option value="26">Electric Guitar (jazz)</option>
                    <option value="56">Trumpet</option>
                    <option value="57">Trombone</option>
                    <option value="58">Tuba</option>
                    <option value="59">Muted Trumpet</option>
                    <option value="60">French Horn</option>
                </select>
            </label>
        </p>
        <form action="/predict_music" method = "POST">
            <textarea id="abc" cols="80" rows="15" spellcheck="false" name="song">
X: 1
T: Cooley's
M: 4/4
L: 1/8
R: reel
K: Emin
|:D2|EB{c}BA B2 EB|~B2 AB dBAG|FDAD BDAD|FDAD dAFD|
EBBA B2 EB|B2 AB defg|afe^c dBAF|DEFD E2:|
|:gf|eB B2 efge|eB B2 gedB|A2 FA DAFA|A2 FA defg|
eB B2 eBgB|eB B2 defg|afe^c dBAF|DEFD E2:|</textarea>
<br>
        <input type = "submit" value = "Generate" />
            <button type="button" id="play">Play</button>
            <button type="button" id="stop" class="hidden">Stop</button>        
        </p>     
        </form>
        
    </div>
    
    
    <div id="warnings"></div>
    <div id="paper"></div>
    <div id="audio"></div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='abcjs-basic.js') }}"></script>
<script  src="{{ url_for('static', filename='editor.js') }}"></script>
{% endblock %}